    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" outerLink="#" routerLinkActive="active">Pracownia artystyczna Art</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/adding-participants" routerLinkActive="active">Zarządzaj uczestnikami<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="/adding-groups" routerLinkActive="active">Zarządzaj grupami</a>
          <a class="nav-item nav-link" routerLink="/adding-achievements" routerLinkActive="active">Zarządzaj konkursami</a>
          <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Zarządzaj zadaniami</a>
          <a class="nav-item nav-link" routerLink="/adding-works" routerLinkActive="active">Zarządzaj pracami</a>
          <a class="nav-item nav-link" routerLink="/adding-presence" routerLinkActive="active">Zarządzaj obecnościami</a>
          <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Generuj raport</a>
        </div>
      </div>
    </nav>
