<div class="col-6 card-title align-self-center mb-0">
    <form #groupForm="ngForm">
        <div class="form-group">
            <label>Raport uczestików grupy</label><br>
            <input type="text" list="groups" ngModel name="group" class="form-control" id="group" placeholder="Grupa"
                required [(ngModel)]='selectedGroupName' #groupName name="groupName" (focus)="groupName.value=''">
            <datalist id="groups"></datalist>
        </div>
        <button (click)="onGroupSelected(groupForm)" class="btn btn-primary">Generuj raport</button>
    </form>
</div>

<table class="table">
    <ul class="list-group">
    <li class="list-group-item">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imię i nazwisko</th>
        <th scope="col">Numer telefonu</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants; let i = index;">
        <th scope="row"> {{i+1}}</th>
        <td>{{participant.name}} </td>
        <td>{{participant.phone}} </td>
        <td>{{participant.email}} </td>
      </tr>
    </tbody>
</li>
</ul>
  </table>