<!doctype html>
<html>
    <a class="nav-link" [routerLink]="['/regulamin']">
        Collections
    </a>
<head>
  <link rel="stylesheet" href="/Users/jagodachmielewska/pracowniaartystycznaapp/src/app/regulamin/regulamin.component.css">
  <title> Pracownia artystyczna | Regulamin </title>
  <meta charset="utf-8" />
</head>

<body>
  <h2>Regulamin Pracownia artystyczna</h2>
  <p><strong>Postanowienia ogólne</strong></p>
  <p>Terminy użyte w niniejszym dokumencie oznaczają:</p>
  <p><b>Pracownia artystyczna</b></p>
  <p>MPracownia artystyczna sp. z o.o. z siedzibą w ABC, przy ul. ABC 123, 12-345 ABC, wpisana do rejestru przedsiębiorców prowadzonego
    przez Sąd Rejonowy ABC - Nowe Miasto i Wilda w ABC, VIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem
    KRS: 0000635012, kapitał zakładowy: 33.016.950
    złotych, NIP 525-26-74-798, REGON 365331553, posiadająca status dużego przedsiębiorcy w rozumieniu ustawy z dnia 8
    marca 2013 r. o przeciwdziałaniu nadmiernym opóźnieniom w transakcjach handlowych (t. j.
    Dz. U. z 2019 r., poz. 118 ze zm.). </p>
  <p><b>Regulamin</b></p>
  <p>niniejszy dokument</p>
  <p><b>Rejestracja</b></p>
  <p>procedura zakładania konta</p>
  <p><b>Konto</b></p>
  <p>prowadzony pod unikalną nazwą oraz chroniony hasłem zbiór zasobów, w którym gromadzone są dane Użytkownika oraz
    informacje o jego działaniach</p>
  <p><b>Użytkownik</b></p>
  <p>podmiot posiadający dostęp do usług świadczonych przez Pracownia artystyczna</p>
  <p><strong>Warunki Uczestnictwa w Pracownia artystyczna</strong></p>
  <ol>
    <li>Użytkownikami mogą być osoby fizyczne, które uczęszczają na zajęcia do Pracownii artystycznej i posiadają pełną zdolność do czynności prawnych, osoby prawne oraz jednostki
      organizacyjne nieposiadające osobowości prawnej, ale mogące we własnym
      imieniu nabywać prawa i zaciągać zobowiązania.</li>
    <li>Podczas Rejestracji jak i późniejszego korzystania z Pracownia artystyczna, Użytkownik
      zobowiązany jest podawać wymagane i prawdziwe dane oraz informacje oraz
      składać – o ile ma zastosowanie – oświadczenia zgodne z prawdą</li>
  </ol>
  <p><strong>Postanowienia końcowe</strong>
  <p><b>Prywatność i poufność</b></p>
  <p>Dane osobowe podane przez Użytkowników w miejscach do tego
    przeznaczonych, Pracownia artystyczna przetwarza zgodnie z obowiązującymi przepisami
    prawa oraz zgodnie z <a class="link" href="polityka.html">polityką prywatności</a></p>

</body>

</html>